@font-face {
    font-family: "Didact";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/DidactGothic.ttf');
}
@font-face {
    font-family: "PTSans-Regular";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PT_Sans-Web-Regular.ttf');
}
@font-face {
    font-family: "PTSans-Bold";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PT_Sans-Web-Bold.ttf');
}
@font-face {
    font-family: "PTSans-BoldItalic";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PT_Sans-Web-BoldItalic.ttf');
}
@font-face {
    font-family: "PTSans-Italic";
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PT_Sans-Web-Italic.ttf');
}
@font-face {
    font-family: 'Eames-Century-Modern-Bold';
    src: url('../fonts/Eames-Century-Modern-Bold.eot');
    src: url('../fonts/Eames-Century-Modern-Bold.woff2') format('woff2'),
    url('../fonts/Eames-Century-Modern-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EamesCenturyModern-Bold';
    src: url('../fonts/EamesCenturyModern-Bold.woff') format('woff'),
    url('../fonts/EamesCenturyModern-Bold.ttf') format('truetype'),
    url('../fonts/EamesCenturyModern-Bold.svg#EamesCenturyModern-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFMechanicaBPro-Comb';
    src: url('../fonts/PFMechanicaBPro-Comb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Erosyt';
    src: url('../fonts/erosyt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eurostile';
    src: url('../fonts/EurostileRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Films Eurostile';
    src: url('../fonts/films.eurostile.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sagoe UI';
    src: url('../fonts/segoeui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SpecialElite';
    src: url('../fonts/SpecialElite.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


