#block-superfish-1 {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    padding: 5px 0 0 0;
}
#block-superfish-1 > .content {
    display: inline-block;
}
#superfish-1 {
    background:none;
    position:relative;
    width:auto;
    display: inline-block;
}
#superfish-1 > li {
    /*background: url(../images/menu-divider.png) right 3px no-repeat;*/
    border:0;
    overflow:inherit;
    padding:0 1px 0 0;
    text-align:center;
    float: none;
    display: inline-block;
    margin: 0;
}
#superfish-1 > li.last {
    background: none;
}
#superfish-1 > li.menuparent {
    position: relative;
    z-index: 499;
}
#superfish-1 > li > a {
    border:0;
    position: relative;
    color: rgb(84,84,84);
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    padding:7px;
    padding-bottom: 12px;
    text-decoration:none;
    text-transform: uppercase;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
#superfish-1 > li > a:after {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    right: 100%;
    height: 2px;
    background: #ec1f27;
    bottom: 0;
    z-index: 10;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
#superfish-1 > li > a:hover, #superfish-1 > li > a.active, #superfish-1 > li > a.sfHover{
    /*color: #ec1f27;*/
}
#superfish-1 > li > a:hover:after, #superfish-1 > li > a.active:after, #superfish-1 > li > a.sfHover:after {
    right: 0;
}

#superfish-1 ul {
    background: url(../images/submenu.gif) 0 0 repeat #1f1f1f;
    border:0px solid #1b1b1b;
    display:none;
    top:64px;
    left: -25px;
    border-radius: 5px;
    width:156px !important;
    padding: 10px 0px;


}
.sf-navbar > li > ul { margin-top:3px;}

#superfish-1 ul li {
    background:none;
    border-bottom:0;
    height:auto;
    padding:0 0 14px;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}
#superfish-1 ul li a:visited, #superfish-1 ul li a {
    border:0;
    color:#8e8e8e;
    font-weight:normal;
    text-align:left;
    margin-left: 20px;
    text-decoration: none;
}
#superfish-1 ul li a:hover, #superfish-1 ul li a.active {color: #fff;}

#superfish-1 ul li ul{
    left:160px !important;
    padding:10px 0 !important;
    top:0 !important;
}
#superfish-1 ul li ul li {
    background:none;
    margin-bottom:1px;
}
/****************** footer menu **********************/

#block-menu-menu-footer-menu{
    display: inline-block;
    margin: 0 auto 20px auto;
    margin-bottom: 20px;
    padding: 0;
}
#block-menu-menu-footer-menu > h2 {
    display: none;
}
#block-menu-menu-footer-menu .content ul {
    padding: 0;
    background: none;
    position: relative;
    width: auto;
    display: inline-block;
    margin:0;
}
#block-menu-menu-footer-menu .content ul li {
    display: inline-block;
    /*background: url(../images/menu-divider.png) right 3px no-repeat;*/
    border: 0;
    overflow: inherit;
    padding: 0 1px 0 0;
    text-align: center;
    float: left;
    border-right: 1px solid #545454;
}
#block-menu-menu-footer-menu .content ul li.last{
    background: none;
    border-right: 0;
}
#block-menu-menu-footer-menu .content ul li a{
    text-transform: capitalize;
    border: 0;
    position: relative;
    padding: 10px 5px;
    text-decoration: none;
}


