#block-search-form {
    margin-right: 10px;
    margin-top: 5px;
}
#main-wrapper,
#site-logo-wrapper {
    width: 98%;
    padding: 0;
    margin-top: 0;
}
.front #main-wrapper,
.front #site-logo-wrapper {
    margin-top: 40px;
}
#superfish-1 > li > a {
    padding: 10px 4px;
}
input[type="search"]#edit-search-block-form--2{
    width: 70%;
}
.view.news-by-type-block-view .view-content .views-column.views-column-1,
.view.news-by-type-block-view .view-content .views-column.views-column-3{
    width: 24%;
}
.view.news-by-type-block-view .view-content .views-column.views-column-2 {
    width: 49%;
}
.view.news-by-type-block-view .view-content .views-row.views-row-4,
.view.news-by-type-block-view .view-content .views-row.views-row-5 {
    width:100%;
}
.view.news-by-type-block-view .view-content .views-row.views-row-1,
.view.news-by-type-block-view .view-content .views-row.views-row-2,
.view.news-by-type-block-view .view-content .views-row.views-row-3,
.view.news-by-type-block-view .view-content .views-row.views-row-6,
.view.news-by-type-block-view .view-content .views-row.views-row-7,
.view.news-by-type-block-view .view-content .views-row.views-row-8 {
    width:100%;
}
.view.news-by-type-block-view .view-content .views-row.views-row-1 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-2 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-3 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-4 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-5 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-6 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-7 .field-content .news-image .image img,
.view.news-by-type-block-view .view-content .views-row.views-row-8 .field-content .news-image .image img {
    width:auto;
    height: auto;
    max-height: 230px;
}
#news-type-block .view-content .views-row {
    width: 23%;
}
#news-type-block .view-content .views-row .views-field-body {
    padding: 0;
    width: 95%;
    display: block;
    margin: 0 auto;
}

.front .video-material {
    width: 49%;
}
.view-content .views-row .views-field,
.view .view-content .views-row .views-field .video-content .video iframe {
    width: 100% ;
}
.front .most-read-block .view .view-content .views-row .field-content .news-content {
    margin: 0;
    margin-left: 10px;
}
.front .most-read-block .view .view-content .views-row .field-content  .news-content .news-title a {
    font-size: 17px;
    font-weight: bold;
}
.front .most-read-block .view .view-content .views-row .field-content .news-content .news-read-more {
    z-index: 400;
    background-color: #fff;
    bottom: 0;
    padding: 11px 0 10px 0;
    width: 95%;
}
/** menu **/
#header .region.region-menu {
    min-height: 46px;
}
#block-superfish-1 {
    display: none;
}
#header .region.region-menu > .block-accordion-menu {
}
#menu_accordion .icon-show-accordion-menu {
    display: block;
}
.region-menu #block-follow-site-top {
    position: absolute;
    right: 40px;
    top: -5px;
}
#block-search-form {
    float: right;
    margin-top: 8px;
    margin-right: 5px;
}
/** slogan and message **/
#site-logo-wrapper {
    margin-top: 20px;
    position: relative;
}
#site-logo-wrapper #current-magazine-number {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
}
div#site-slogan {
    font-size: 35px;
    line-height: 35px;
}
div#site-message {
    font-size: 30px;
    line-height: 30px;
}
div#current-magazine-number .number {
    font-size: 49px;
}
div#current-magazine-number .sup {
    font-size: 40px;
    line-height: 30px;
}
/** news block **/
.view.news-by-type-block-view .view-content .views-row .field-content .news-content .news-read-more {
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 11px;
}

/*** inner pages  ***/
#site-logo-wrapper .section-logo-wrapper.logo-wrapper {
    margin-top: 0;
}
#site-logo-wrapper .section-logo-wrapper.title-wrapper {
    display: block;
}
.node-type-article #block-system-main .content .top-image {
    height: auto;
}
.node-type-article #block-system-main .content .inner-content .inner-content-element.inner-content-left,
.node-type-article #block-system-main .content .inner-content .inner-content-element.inner-content-right {
    width: 20%;
    display: none;
}
.node-type-article #block-system-main .content .inner-content .inner-content-element.inner-content-center {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.node-type-article #block-system-main .content .inner-content .inner-content-element.inner-content-left .author-info {
    padding: 0 5px;
}
.node-type-article #block-system-main .content .inner-content .inner-content-element.inner-content-right .inner-wrapper {
    padding: 0 5px;
}
#main-wrapper.full-width #auth_box div.form-item textarea,
#main-wrapper.full-width #auth_box div.form-item input[type='text'],
#main-wrapper.full-width #auth_box div.form-item input[type="search"],
#main-wrapper.full-width #auth_box div.form-item input[type='password'] {
    padding: 7px 1%;
    width: 98%;
}
#header .section-1.stuck {
    border-bottom: 1px solid #c4c4c4;;
}

#block-system-main .content .node-teaser .content .inner-content {
    width: 70%;
}
.view.news-by-type-block-view .view-content .views-row .field-content .news-content {
    overflow: hidden;
}
.page-arhiva .view-magazine-number-archive .view-content .views-row {
    margin-right: 50px;
}

#footer #block-menu-menu-footer-menu .content ul li {
    float: none;
    border: 0;
}
#footer #block-menu-menu-footer-menu .content ul li a {
    display: block;
    font-size: 16px;
    line-height: 16px;
    border-right: 1px solid #545454;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#news-type-block .view-content .views-row {
    width: 49%;
    margin: 0 0 18px 0;
}
#news-type-block .view-content .views-row.float-left,
#news-type-block .view-content .views-row.float-right{
    float: none;
    vertical-align: top;
}
#news-type-block .view-content .views-row.views-row-in-row-1,
#news-type-block .view-content .views-row.views-row-in-row-3 {
    float: none;
}
#news-type-block .view-content .views-row.views-row-in-row-2,
#news-type-block .view-content .views-row.views-row-in-row-4 {
    float: none;
}

.front .video-material,
.front .most-read-block {
    width: 100%;
}
#main-wrapper.full-width .image-holder img {
    max-width: initial;
}
#main-wrapper.full-width #auth_box {
    position: absolute;
    right: 0;
    top: 15px;
}
.front #site-logo-wrapper .section-logo-wrapper.logo-wrapper {
    display: block;
    width: 50%;
}
#site-logo-wrapper #slogan-and-message {
    margin-left: 0;
}
.view.news-by-type-block-view .view-content .views-row .field-content .news-content {
    margin: 5px;
}
.view.news-by-type-block-view .view-content .views-row .field-content .news-content div.news-title a {
    font-size: 18px;
}
.view.news-by-type-block-view .view-content .views-row .field-content .news-content .news-body {
    font-size: 15px;
}
.view.news-by-type-block-view .view-content .views-row.views-row-4 .field-content .news-content .title-and-body,
.view.news-by-type-block-view .view-content .views-row.views-row-5 .field-content .news-content .title-and-body {
    height: 173px;
}
.view.news-by-type-block-view .view-content .views-column.views-column-1,
.view.news-by-type-block-view .view-content .views-column.views-column-2,
.view.news-by-type-block-view .view-content .views-column.views-column-3 {
    width: 100%;
}
#news-type-block .view-content .views-row {
    width: 100%;
}
#news-type-block .view-content .views-row.views-row-12 {
    display: none;
}
#footer .footer-brand-wrapper {
    font-size: 17px;
}
#block-menu-menu-footer-menu .content ul {
    text-align: center;
}
#block-menu-menu-footer-menu .content ul li {
    margin: 2px;
}
#footer #block-menu-menu-footer-menu .content ul li a {
    font-size: 15px;
}
.front .most-read-block .view .view-content .views-row .field-content .news-image {
    display: block;
    width: 100%;
    text-align: center;
}
#news-type-block .view-content .views-row .views-field-image IMG {
    width: auto;
}
.front .most-read-block .view .view-content .views-row .field-content .news-content {
    display: block;
    width: 100%;
}
.node-type-article #site-logo-wrapper .section-logo-wrapper.logo-wrapper,
.node-type-advanced-page #site-logo-wrapper .section-logo-wrapper.logo-wrapper{
    position: initial;
}
#site-logo-wrapper .section-logo-wrapper.logo-wrapper {
    margin-top: 0;
    vertical-align: middle;
    position: absolute !important;
    top: 0;
    left: 0;
}
.front #site-logo-wrapper .section-logo-wrapper.logo-wrapper {
    position: relative !important;
}
.front .most-read-block .view .view-content .views-row {
    height: auto;
}
#site-logo-wrapper .section-logo-wrapper.logo-wrapper,
#site-logo-wrapper .section-logo-wrapper.title-wrapper {
    display: block;
    width: auto;
    position: relative;
}
.front #site-logo-wrapper #logo img {
    width: auto;
    max-width: 100%;
}
#block-pss-extras-taxonomy-tags{
    width: 100%;
    padding: 0;
    height: auto;
    margin: 0 auto;
    vertical-align: top;
}
.front .video-material .view .view-content .views-row .field-content .body-wrapper {
    padding: 10px;
}
#body input[type="search"]#edit-search-block-form--2 {
    width: 70%;
}
.content ul.pager li.pager-item {
    display: none;
}
.content ul.pager li a {
    padding: 5px;
}
#block-views-author-recommendation-block {
    margin: 0 auto;
    display: block;
    margin-bottom: 46px;
}
#block-views-author-recommendation-block .view-author-recommendation .view-header,
#block-views-author-recommendation-block .view-author-recommendation .view-content{
    padding: 0;
}
@media screen and (min-width: 481px) and (max-width: 610px) {
    #site-logo-wrapper .section-logo-wrapper.logo-wrapper {
        position: initial !important;
    }
    /** recommended block **/
    #block-views-author-recommendation-block {
        height: auto;
        width: 100%;
        margin-right: 0;
    }
    #block-views-author-recommendation-block .view-author-recommendation {
        padding: 0;
    }
    #block-views-author-recommendation-block .view-author-recommendation .view-header,
    #block-views-author-recommendation-block .view-author-recommendation .view-content{
        padding: 0;
    }
    #block-views-author-recommendation-block .view-author-recommendation .view-header .recommendation-title {
        margin-top: 20px;
    }
    #block-views-author-recommendation-block .view-author-recommendation .view-header .recommendation-image {
        position: relative;
        width: 100%;
        background: transparent;
        display: block;
    }
    #block-views-author-recommendation-block .view-author-recommendation .view-header .recommendation-image img {
        position: relative;
        margin: 0 auto;
        display: block;
        height: auto;
    }
}
#article_newsletter .form-item-mail, #article_newsletter input[type=submit],
#block-pss-extras-top-newsletter-subscribe-block .form-item-mail,
#block-pss-extras-top-newsletter-subscribe-block input[type=submit] {
    margin: 0;
}
/** subscribe **/
#block-pss-extras-top-newsletter-subscribe-block {
    width: 100%;
    margin: 0 auto;
    vertical-align: top;
}
.node-type-article #block-system-main .content .top-image img {
    width: 100%;
    height: auto;
}
.page-arhiva .view-magazine-number-archive {
    padding: 0;
    display: block;
    margin: 0 auto;
}
.page-arhiva .view-magazine-number-archive .view-header,
.page-arhiva .view-magazine-number-archive .view-footer,
.page-arhiva .view-magazine-number-archive .view-filters,
.page-arhiva .view-magazine-number-archive .view-content {
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
.page-arhiva .view-magazine-number-archive .view-header {
    padding-top: 15px;
}
.page-arhiva .view-magazine-number-archive .view-content .views-row {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.page-arhiva .view-magazine-number-archive .view-content .month-number-wrapper {
    float: none;
    width: 100%;
    height: 20px;
    text-align: center;
}
.page-arhiva .view-magazine-number-archive .view-content .views-row .image img {
    margin: 0 auto;
    display: block;
}
.node-type-advanced-page .node-advanced-page .field-name-body,
.node-type-advanced-page .node-advanced-page .field-name-field-advanced-page-image {
    display: block;
    width: 100%;
    float: none;
}
.node-type-advanced-page .node-advanced-page .field-name-field-advanced-page-image {
    display: none;
}
.node-type-advanced-page .node-advanced-page .field-name-body .field-items {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
#body.node-type-page .field-name-field-basic-page-image img{
    display: block;
    width: 100%;
    height: auto;
}
#body #node-156 .field-name-body  .bis-partners {
    margin-top: 20px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background: none;
}
#body #node-156 .field-name-body  .bis-partners .partner {
    display: inline-block;
    width: 49%;
    padding-right: 0;
    margin-top: 10px;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: inherit;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    padding-top: 20px;
}
#body #node-156 .field-name-body  .bis-partners .partner .partners-logo img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
#body #node-156 .field-name-body  .bis-partners-desc {
    padding: 0;
}
#body #node-156 .field-name-body  .bis-partners-desc .desc {
    width: 100%;
}
#body #node-152 .field-name-body .right_image {
    display: none;
}
#body .field-name-body .table-wrapper {
    display: block;
}
#body .field-name-body .table-wrapper .left-col,
#body .field-name-body .table-wrapper .right-col{
    display: block;
    width: 100%;
    vertical-align: top;
}
#body .field-name-body .table-wrapper .left-col {
    padding-right: 0;
}
#block-views-team-members-block .view .view-content .views-row {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2%;
}
.node-type-advanced-page .node-advanced-page .field-name-field-advanced-sponsor-image img {
    width: 100%;
    height: auto;
}
#body.node-type-advanced-page .field-name-body,
#body.node-type-advanced-page .field-name-field-description {
    height: auto;
}
#body #search-form input[type='text'] {
    width: 90%;
}
.search-results .search-result,
.page-taxonomy-term .node-article.node-teaser {
    display: inline-block;
}
#body #node-152 .field-name-body #accordion {
    max-width:100% ;
}
#block-pss-extras-front-banner-block img{
    max-width: 100%;
}